@{
    if(TempData["Mensagem"] == null){
        
    } else {
        var resultado = MensagemPartialExtension.Desserializar(TempData["Mensagem"].ToString());
        if(resultado.TipoMensagem == TipoMensagem.Informacao){
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@resultado.Mensagem</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        } else {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@resultado.Mensagem</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
}
}