/* _content/apiprincipal/Views/Shared/_Layout.cshtml.rz.scp.css */
.a[b-8hplb6y10u]{
    color: white;
}

.footer[b-8hplb6y10u]{
        position: absolute;
        bottom: 0;
        width: 100%;
        white-space: nowrap;
        line-height: 60px;
}
